build/
contrib/admintools/splashimage.c
Unicode/data/*.txt
Unicode/data/*.zip

.vscode/
.vs/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tags

__pycache__
*.py[co]



*.mo
*.o
cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

lib/
inc/
share/

.ninja_deps
.ninja_log
CMakeCache.txt
*.cmake
*.tcl
bin/
build/
build.ninja
*.xml
fontforgeexe/
install_manifest.txt